body{
    background-color: black;
}
.col-md-4 img{
    width: 80%;
    height: 300px;
    margin-left: auto;
    margin-right:auto;
    display: block;
    
}
.well{
    border: 0px solid red;
    
}
.thumbnail{
    color :white;
    background: #222222;
    border:2px solid transparent;
    
}

form{
    padding-bottom: 40px;
}
.form-group{
    width: 60%;
 }
.well{
    background: black;
}
#no-bullets {
    list-style-type: none; /* Remove bullets */

  }
.col-md-5>.thumbnail{
    min-height: 500px;
    padding-top: 25px;
}
.col-md-7>.thumbnail{
    min-height: 500px;
}
li{
    line-height: 1.8;
}